nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: rgb(1, 0, 2);
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}
span{
    color: #f184d6;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #500135;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:#610262;
    transform: .4s;
}

nav ul li{
    background-color: #ec06a7;
    color: rgb(1, 0, 0);
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}

nav ul li a:hover{
    background-color: transparent;
    border: 2px solid rgb(3, 0, 0);
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Poppins", sans-serif;
    
}
body{
    background: #9c037b;
}
.container{
    width: 85%;
    background: #FFF;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px , rgba(0,0,0, 0.2);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #98857E;
}
.content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #90562E;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  
  
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #90562E;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #90562E;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #C1AC9C;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #f5ecf4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 35px;
    color: rgb(4, 0, 0);
}

footer p{
    color: rgb(110, 73, 73);
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais{
    display: flex;
    
}

.Redes-sociais a{
    background-color: rgb(213, 3, 160);
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(250, 246, 246);
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.end{
    position: absolute;
    color:rgb(213, 3, 153);
    bottom: 35px;
    font-size: 14px ;
}